<%- include('partials/header') %>


<!-- <div class="jumbotron centered"> -->
  <div class="container">
    <hr>
    <h1 class="display-6">Hello World</h1>
    <hr>
    

   

  </div>
<!-- </div> -->

<%- include('partials/footer') %>
